<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>WeatherTZ </title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"></script>

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/ie-support/html5.js') }}"></script>
		<script src="{{ url_for('static', filename='js/ie-support/respond.js') }}"></script>
		<![endif]-->

	</head>


	<body>

		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
<!--						<img src="{{ url_for ('static', filename='images/logo.png' ) }}" alt="" class="logo">-->
						<div class="logo-type">
							<h1 class="site-title">Weather TZ</h1>
<!--							<small class="site-description">tagline goes here</small>-->
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item {% block home %} {% endblock %}"><a href="/">Home</a></li>
<!--							<li class="menu-item {% block contact %} {% endblock %}"><a href="/contact">Contact</a></li>-->
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->



{% block content %}
{% endblock %}

			<footer class="site-footer">
				<div class="container">
					<!--<div class="row">

							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>

					</div>-->

					<p class="colophon">Copyright 2021 WeatherTZ</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>

		<script src=" {{ url_for('static', filename='js/jquery-1.11.1.min.js') }} "></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>

		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>

</html>